{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Schedule</title>
    <link href="https://fonts.googleapis.com/css?family=Rosario&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'myweb/img/resize-option.png' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        * {
            font-family: 'Rosario', sans-serif;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        {% for item in items %}
            <div>
                <a href="{{ item.id }}"><h1>{{ item.matkul }}</h1></a>
                <p>Jumlah SKS: {{ item.sks }}</p>
                <p>Ruangan: {{ item.ruangan }}</p>
            </div>
        {% endfor %}
        <a href="tambah"><button type="button" class="btn btn-outline-success">Tambah</button></a>
    </div>
</body>
</html>