{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Schedule</title>
    <link href="https://fonts.googleapis.com/css?family=Rosario&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'myweb/img/resize-option.png' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        * {
            font-family: 'Rosario', sans-serif;
        }
    </style>
</head>
<body>
        <a href="../schedule" style="color: black; text-decoration: none; opacity: 60%; margin-left: 20px;">Kembali</a>
    <div class="container-fluid">
        <h1>{{ items.matkul }}</h1>
        <h3>Pengajar: {{ items.pengajar }}</h3>
        <h3>Jumlah SKS: {{ items.sks }}</h3>
        <h3>Deskripsi: {{ items.desc }}</h3>
        <h3>Semester: {{ items.term }}</h3>
        <h3>Ruangan: {{ items.ruangan }}</h3>
        <a href="delete/{{ items.id }}"><button type="button" class="btn btn-outline-danger">Hapus</button></a>
        <hr>
        <h2>Tugas</h2>
        {% for banyaktugas in tugas %}
        
            <h4>{{ banyaktugas.judul_tugas }} </h4>
            <p>{{ banyaktugas.deadline }}</p>
        {% endfor %}
    </div>
</body>
</html>