{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Schedule</title>
    <link href="https://fonts.googleapis.com/css?family=Rosario&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'myweb/img/resize-option.png' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        * {
            font-family: 'Rosario', sans-serif;
        }
    </style>
</head>
<body>
    <a href="../schedule" style="color: black; text-decoration: none; opacity: 60%; margin-left: 20px;">Kembali</a>
    <div class="container-fluid">
        <form id="form" method="POST">
            {% csrf_token %}
            {{ schedule_form }}
            <label for="id_matkul">Mata Kuliah: </label>
            <input type="text" name="matkul" class="form-control" maxlength="40" id="id_matkul">
            <label for="id_pengajar">Dosen Pengajar: </label>
            <input type="text" name="pengajar" class="form-control" maxlength="40" id="id_pengajar">
            <label for="id_sks">Jumlah SKS: </label>
            <input type="text" name="sks" class="form-control" maxlength="40" id="id_sks">
            <label for="id_desc">Deskripsi: </label>
            <textarea name="desc" class="form-control" id="id_desc"></textarea>
            <label for="id_term">Term: </label>
            <input type="text" name="term" class="form-control" maxlength="40" id="id_term">
            <label for="id_ruangan">Ruangan: </label>
            <input type="text" name="ruangan" class="form-control" maxlength="40" id="id_ruangan">
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</body>
</html>