{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Story 4 | Valentino Herdyan Permadi</title>
    <link href="https://fonts.googleapis.com/css?family=Rosario&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'myweb/img/resize-option.png' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        * {
            font-family: 'Rosario', sans-serif;
        }

        *[id]:before { 
            display: block; 
            content: " "; 
            margin-top: -40px; 
            height: 75px; 
            visibility: hidden; 
        }

        html{
            scroll-behavior: smooth;
        }
    </style>
</head>
<body>
</body>
</html>