{% load static %}

<!DOCTYPE html>
<html lang="en">
{% include 'myweb/base.html' %}
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-sm navbar-light bg-white fixed-top">
            <a class="navbar-brand" href="../">Valentino</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../portfolio">Home</a>
                    </li>
                </ul>
            </div>
        </nav>
        <h1 style="margin-top:100px;" class="text-center">My Hobby</h1>
        <!-- Button trigger modal -->
        <div class="text-center">
            <a class="btn" data-toggle="modal" data-target="#Modal" style="color:gray">
                don't click me
            </a>
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="height: auto;">
            <div class="modal-dialog modal-dialog-centered container-fluid" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">told ya don't</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img class="d-block w-100" src="{% static 'myweb/img/cursed1.jpg' %}" height="300px" alt="First slide">
                                  </div>
                                  <div class="carousel-item">
                                    <img class="d-block w-100" src="{% static 'myweb/img/cursed2.jpg' %}" height="300px" alt="Second slide">
                                  </div>
                                  <div class="carousel-item">
                                    <img class="d-block w-100" src="{% static 'myweb/img/cursed3.jpg' %}" height="300px" alt="Third slide">
                                  </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Next</span>
                                </a>
                              </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
        <div class="card-deck" style="color: white; margin-top: 50px;">
            <div class="card" style="border: none;">
                <div class="card-body" style="background-color: #00A3FF;border-radius: 10px;">
                    <a href="https://myanimelist.net/manga/103897/Dr_Stone?suggestion=" target="_blank"><img src="{% static 'myweb/img/dr stone.jpg' %}" class="img-fluid mx-auto d-block" width="150px"></a>
                    <h3 class="card-text text-center" style="margin-top:10px">Reading Manga</h3>
                    <p class="card-text">Reading manga is one of my hobby. When there is a new update on mangas that i read, i spare some time to read them.</p>
                    <p class="card-text">
                        Current reading list:
                        <ul>
                            <li>One Piece</li>
                            <li>Dr. Stone</li>
                            <li>Darwin's Game</li>
                            <li>One Punch Man</li>
                            <li>Solo Leveling</li>
                            <li>Vinland Saga</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="card" style="border: none;">
                <div class="card-body" style="background-color: #00A3FF;border-radius: 10px;">
                    <a href="https://myanimelist.net/anime/23321/Log_Horizon_2nd_Season" target="_blank"><img src="{% static 'myweb/img/log horizon.jpg' %}" class="img-fluid mx-auto d-block" width="150px"></a>
                    <h3 class="card-text text-center" style="margin-top:10px">Watching Anime</h3>
                    <p class="card-text">I watch anime when i have some time to spare. Unlike reading manga, i watch anime less often.</p>
                    <p class="card-text">
                        Current Watchlist:
                        <ul>
                            <li>Majutsushi Orphen Hagure Tabi</li>
                            <li>Darwin's Game</li>
                            <li>Pokemon (2019)</li>
                            <li>Log Horizon Season 2</li>
                            <li>Infinite Dendrogram</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="card" style="border: none;">
                <div class="card-body" style="background-color: #00A3FF;border-radius: 10px;">
                    <a href="https://mojiken.itch.io/a-space" target="_blank"><img src="{% static 'myweb/img/a space for the unbound.jpg' %}" class="img-fluid mx-auto d-block" width="400px"></a>
                    <h3 class="card-text text-center" style="margin-top:10px">Playing Games</h3>
                    <p class="card-text">I don't play game often. But i like playing them. I am currently looking to play some indie games.</p>
                    <p class="card-text">
                        Current Wishlist:
                        <ul>
                            <li>Bastion</li>
                            <li>Owlboy</li>
                            <li>Roguelands</li>
                            <li>Noita</li>
                            <li>A Space For The Unbound</li>
                            <li>I am Jesus Christ</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>