{% load static %}

<!DOCTYPE html>
<html lang="en">
{% include 'myweb/base.html' %}
<body>
    <div class="container-fluid" id="Home">
        <div style="margin-top: 150px;">
            <img src="{% static 'myweb/img/mypic.jpg' %}" class="img-fluid rounded-circle mx-auto d-block" width="300px">
        </div>
        <div class="text-center pt-4 bg-white">
            <h1>Valentino Herdyan Permadi</h1>
            <p style="opacity: 50%; margin-bottom: 120px;" class="pt-2">I'm an Undergraduate Student currently studying in University of Indonesia</p>
        </div>
    </div>
    <div class="container-fluid" id="About" style="background-color: white; color: white; padding-top: 10px;">
        {% include 'myweb/navbar.html' %}
        <div class="row" style="background-color: #00A3FF;">
            <div class="col-md-6">
                <h2 class="text-center mb-3 pt-3">About Me</h2>
                <div class="col">
                    <p style="font-size: 20px;">I am a first year student. I am a beginner web developer. I like learning new stuffs. I also have interest in game development. Another interest that i have is in data science. My thirst for learning is what makes me keep moving forward. I am also a board game enthusiast. Playing board game for once in a while can really help me getting relaxed and more motivated for what to come.</p>
                </div>
            </div>
        <div class="col-md-6">
            <h2 class="text-center mb-3 pt-3">Skills</h2>
            <div>
                <p style="font-size: 20px;">Python</p>
                <div class="progress mb-4" style="border-radius: 25px;">
                    <div class="progress-bar bg-secondary" style="width:75%; border-radius: 20px"></div>
                </div>
                <p style="font-size: 20px;">Java</p>
                <div class="progress mb-4" style="border-radius: 25px;">
                    <div class="progress-bar bg-secondary" style="width:40%; border-radius: 20px"></div>
                </div>
                <p style="font-size: 20px;">HTML</p>
                <div class="progress mb-4" style="border-radius: 25px;">
                    <div class="progress-bar bg-secondary" style="width:50%; border-radius: 20px"></div>
                </div>
                <p style="font-size: 20px;">CSS</p>
                <div class="progress mb-4" style="border-radius: 25px;">
                    <div class="progress-bar bg-secondary" style="width:50%; border-radius: 20px"></div>
                </div>
                <p style="font-size: 20px;">JavaScript</p>
                <div class="progress mb-4" style="border-radius: 25px;">
                    <div class="progress-bar bg-secondary" style="width:25%; border-radius: 20px"></div>
                </div>
                <p style="font-size: 20px;">Hobby</p>
                <div class="progress mb-4" style="border-radius: 25px;">
                    <div class="progress-bar bg-secondary" style="width:75%; border-radius: 20px"></div>
                </div>
                <p style="font-size: 20px;">Teamwork</p>
                <div class="progress mb-4" style="border-radius: 25px;">
                    <div class="progress-bar bg-secondary" style="width:70%; border-radius: 20px"></div>
                </div>
                <p style="font-size: 20px;">Critical Thinking</p>
                <div class="progress mb-4" style="border-radius: 25px;">
                    <div class="progress-bar bg-secondary" style="width:70%; border-radius: 20px"></div>
                </div>
                <p style="font-size: 20px;">Time Management</p>
                <div class="progress mb-4" style="border-radius: 25px;">
                    <div class="progress-bar bg-secondary" style="width:60%; border-radius: 20px"></div>
                </div>
            </div>
        </div>
    </div>
            </div>
            
    <div class="container-fluid" id="Experiences">
        <h2 class="text-center mb-5"">Experiences</h2>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <h3>PERAK 2020</h3>
                <h4 style="opacity: 50%;">Games Division Staff</h4>
            </div>
            <div class="col-sm-2"></div>
            <div class="col mb-5">
                <h3>Jan 2020 - Present</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <h3>BETIS 2020</h3>
                <h4 style="opacity: 50%;">Equipments Division Staff</h4>
            </div>
            <div class="col-sm-2"></div>
            <div class="col mb-5">
                <h3>Dec 2020 - Present</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <h3>BEM Fasilkom 2019</h3>
                <h4 style="opacity: 50%;">Scientific Department Staff Intern</h4>
            </div>
            <div class="col-sm-2"></div>
            <div class="col mb-5">
                <h3>Oct 2019 - Dec 2019</h3>
            </div>
        </div>
    </div>

    <div class="container-fluid text-center mt-5" style="background-color: white; color: white;" id="Contact">
        <div class="row" style="background-color: #00A3FF;">
        <h2 class="col-12 mb-4" style="padding-top: 10px;">Contact</h2>
        <h4 class="col-12">Email: valentinohp11@gmail.com</h4>
        <h4 class="col-12 mb-5">Phone: 081213686217</h4>
        <a href="https://linkedin.com/in/valentinohp/" class="col"target="_blank">
            <img src="{% static 'myweb/img/linkedin.png' %}" width="150px" class="img-fluid mb-5">
        </a>
        <a href="https://instagram.com/_drakoz" class="col" target="_blank">
            <img src="{% static 'myweb/img/ig.png' %}" width="150px" class="img-fluid mb-5">
        </a>
        <a href="https://gitlab.com/drakoz" class="col" target="_blank">
            <img src="{% static 'myweb/img/GitLab_Logo.png' %}" width="150px" class="img-fluid mb-5">
        </a>
        </div>
    </div>
    <script>
        
    </script>
</body>
</html>