{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ name }} | {{ npm }}</title>
    <link rel="stylesheet" href="{% static 'lab_1/default.css' %}" type="text/css">
    <link rel="icon" href="{% static 'lab_1/img/resize-option.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
</head>
<body>
    <a href="../" style="color: black; text-decoration: none; opacity: 60%; margin-left: 20px;">Back</a>
    <div class="welcome">
        <h1>Welcome to my WebPage!</h1>
        <img src="{% static 'lab_1/img/mypic.jpg' %}" alt="gambar" class="mypic">
    </div>
    <div class="bio">
        <p>Hello! My name is {{name}}</p>
        <p>{{ npm }}</p>
        <p>Maung 2019</p>
        <p>Hobby : Gaming, Reading Manga, Watching Anime</p>
        <p>Short Description : <br>I am {{age}} years old. Reading Manga is one of my hobby.<br> I read popular shounen manga such as One Piece and Dr. Stone.<br> I am currently pursuing a Bachelor Degree in Computer Science<br> at Faculty of Computer Science, University of Indonesia.</p>
        <p>Education : <br>2019 - Present University of Indonesia<br>2016 - 2019 SMAN 1 Cikarang Utara<br>2013-2016 SMPN 1 Cikarang Utara<br>2007 - 2013 SD Permata Pertiwi</p>
        <p>You can find me at :</p>
    </div>
    <div class="socmed">
        <div class="ig"><a href="https://www.instagram.com/_drakoz/" target="_blank"><img src="{% static 'lab_1/img/ig.png' %}" class="img"></div></a>
        <div class="gitlab"><a href="https://gitlab.com/drakoz" target="_blank"><img src="{% static 'lab_1/img/gitlab.png' %}" class="img"></div></a>
    </div>
</body>
</html>